div.content {
    width: 100vw;
    height: 100vh;
}

div.content1 {
    background: url('../images/image1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: red;
}

div.content2 {
    background: url('../images/image2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: purple;
}

div.content3 {
    background: url('../images/image3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: navy;
}

div.content4 {
    background: url('../images/image4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: green;
}

div.content5 {
    background: url('../images/image1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: yellow;
}

div.content6 {
    background: url('../images/image2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: lightblue;
}

div.content h2{
    font-size: 40px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
}