.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

div.content-text {
    background: rgba(0, 0, 0, 0.75);
    font-size: 28px;
    font-weight: 500;
    width: 60%;
    height: 250px;
    margin: 0 auto;
    padding: 20px;
    color: whitesmoke;
}